.nav-item:hover{
    text-shadow: 0px 4px 2px rgba(190,21,21,0.6);
}
.networks{
    text-decoration: none;
    color: black;
}
.networks:hover{
    text-shadow: 0px 4px 2px rgba(190,21,21,0.6);
    color: red;
}
#img-index{
    height: 100%;
    width: 50%;
}
.foot{
    text-align: center;
}
.prev{
    color: brown;
}
#accordionExample{
    display: none;
}
.navbar-brand{
    font-family: 'Teko', sans-serif;
}
.carousel-item .figure .button{
    display: none;
}

@media (max-width:768px) {
    .container{
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
    }
    .form-control{
        font-family:Arial, Helvetica, sans-serif
    }
    .head2{
        color: brown;
    }
    .container-fluid{
        background-color:hotpink;
        text-decoration: white;
    }
    .card{
        display: none;
    }
    .accordion{
        display: grid;
    }
    .networks{
        color: hotpink;
    }
    .netTitle{
        color: indianred;
    }
    figcaption{
        display:none;
    }
    .carousel-item .btn{
        display: none;
    }
}