.nav-item:hover{
    text-shadow: 0px 4px 2px rgba(190,21,21,0.6);
}
.networks{
    text-decoration: none;
    color: black;
}
.networks:hover{
    text-shadow: 0px 4px 2px rgba(190,21,21,0.6);
    color: red;
}
#img-index{
    height: 100%;
    width: 50%;
}
.foot{
    text-align: center;
}